@font-face {
  font-family: domaine;
  src: url("fonts/domaine-text.otf") format("opentype");
}
@font-face {
  font-family: domaine;
  font-style: italic;
  src: url("fonts/domaine-text-italic.otf") format("opentype");
}
@font-face {
  font-family: domaine;
  font-weight: bold;
  src: url("fonts/domaine-text-bold.otf") format("opentype");
}
body {
  font-family: domaine, sans-serif;
  background-color: #1C1511;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  min-width: 320px;
}

#bakgrunn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-image: url(imgs/naples.jpg);
  background-position: 40% 0%;
  background-size: 1400px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  -webkit-animation: 0.5s bakgrunn-fade-in ease-in 1.25s 1 forwards;
  animation: 0.5s bakgrunn-fade-in ease-in 1.25s 1 forwards;
  /* Chrome, Safari, Opera */
}

@-webkit-keyframes bakgrunn-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Standard syntax */
@keyframes bakgrunn-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
h1, h2, h3, h4, h5 {
  color: white;
}

.publikasjon {
  background-image: url("imgs/line.svg");
  background-repeat: repeat-x;
  background-position: 0 10px;
}

.vertikalt-bilde {
  max-height: 30rem;
}

.cover-line {
  background: #1C1511;
}

a {
  text-decoration: underline;
}
a:hover {
  color: white;
}

p {
  margin-bottom: 0.5rem;
  line-height: 1.65em;
}
