$body-background-color: #1C1511
$body-color: rgba(white, 0.6)
$body-min-width: 320px


@font-face
    font-family: domaine
    src: url("fonts/domaine-text.otf") format("opentype")

@font-face
    font-family: domaine
    font-style: italic
    src: url("fonts/domaine-text-italic.otf") format("opentype")

@font-face
    font-family: domaine
    font-weight: bold
    src: url("fonts/domaine-text-bold.otf") format("opentype")

body
  font-family: domaine, sans-serif
  background-color: $body-background-color
  color: $body-color
  line-height: 1.5
  min-width: $body-min-width
  background-image: url(imgs/naples.jpg)
  background-position: 40% 0%
  background-size: 1400px
  background-repeat: no-repeat
  background-attachment: scroll

h1, h2, h3, h4, h5
  color: white

.publikasjon
  background-image: url('imgs/line.svg')
  background-repeat: repeat-x
  background-position: 0 10px

.vertikalt-bilde
  max-height: 30rem

.cover-line
  background: $body-background-color

a
  text-decoration: underline
  &:hover
    color: white

p
  margin-bottom: 0.5rem
